*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #191919; 
    width: auto;
    height: auto;
}

nav ul {
    list-style: none; 
}

nav ul li{
    display: inline-block; 
}

nav ul li a {
	
    color: #dde0e7;
    text-decoration: none; 
    font-family: 'Playfair Display', sans-serif; 
    font-size: 20px;
    display: flex;
    padding: 10px; 
    position: relative;
    margin-top: 8px;
}

nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #3498db;
}

.item-r{
    float: right;
}


nav h2{
    color: #dde0e7;
    font-family: 'Playfair Display', sans-serif; 
    font-size: 30px;
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}

body{
    background-color: #34495e;
    color: #fff;
    padding: 0; 
}

#imgFondo{
    width: 600px;
    position:fixed;
    margin-left:-150px;
    margin-top:-150px; 
    top:50%;
    left:40%;
    font-size: 15px;
}

#info{
    text-align: center;
    color: #dde0e7;
    position: relative;
    top: 184px;
    left: 120px;
}

#datos1{
    text-align: center;
    font-size: 30px;
    color: #dde0e7;
    position: relative;
    top: 200px;
    left: 120px;
    font-weight: bold;
}

#datos2{
    text-align: center;
    font-size: 20px;
    color: #dde0e7;
    position: relative;
    top: 200px;
    left: 120px;
    font-style: italic;
}

