*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #191919; 
    width: auto;
    height: auto;
}

nav ul {
    list-style: none; 
}

nav ul li{
    display: inline-block; 
}

nav ul li a {
    color: #dde0e7;
    text-decoration: none; 
    font-family: 'Playfair Display', sans-serif; 
    font-size: 20px;
    display: flex;
    padding: 10px; 
    position: relative;
    margin-top: 8px;
}

nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #3498db;
}

.item-r{
    float: right;
}

nav h2{
    color: #dde0e7;
    font-family: 'Playfair Display', sans-serif; 
    font-size: 30px;
    padding-left: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
}

body{
    background-color: #34495e;
    color: #fff;
    padding: 0; 
}

.contenedor{
    background-color: #dde0e7;
    border-radius: 3px;
    color: white;
    width: 600px;
    font-size: 12px;
}

.tabla{
    border-collapse: collapse; 
    width:300px;
    position:fixed;
    margin-left:-150px;
    margin-top:-150px; 
    top:50%;
    left:50%;
    font-size: 15px;
}

.tabla th ,
.tabla caption,
.tabla td {
    padding: 12px 12px;
}

.tabla caption{
    font-weight: bolder;
    border-bottom: solid 1px rgb(61,68,73);
    background-color: #191919;
    font-size: 20px;
}

.tabla th {
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px rgb(61,68,73);
    color: #4e93c9;
    border-right: solid 1px #fff; 
    border-left: solid 1px #fff;
}

.tabla td{
    border-bottom: solid 1px rgb(61,68,73);
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
}

table tr:nth-child(even){
    background-color: rgb(61,68,73);
}

table tr:nth-child(odd){
    background-color: #1e2326;
}
